@import 'variables';

.header {
    background-color: $tealBlack;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding-right: 70px;
    margin-bottom: 20px;
}

.logo-link {
    display: block;
    text-decoration: none;
}

.logo-container {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $pixel;
    height: 70px;
    margin: 0;
    padding: 0 20px;
    h1 {
        font-size: 32px;
        text-decoration: none;
    }
    &:hover {
        background-color: $white;
        color: $black;
        cursor: pointer;
    }
}
