@import 'reset';
@import 'variables';
@import 'header';
@import 'navbar';
@import 'probability';

body {
    font-family: $primary;
}

.App {
    height: 100vh;
    width: 100vw;
    background-color: $tealDarker;
}

.alert-danger {
    color: $red;
}