// ===== SASSY CSS ===== //
// Sassy CSS or SCSS for short is like CSS on steroids.
// It allows you to write cleaner code, make calculations and use variables
// I LOVE SCSS!

// ===== INSTALLING SASS ===== //
// To get our App to use Sass, I had to install it.
// You may have to as well.
// I simply ran the command
// $ yarn add node-sass@4.14.1
// I'm not sure if you need to run it too, or if I took care of it for the whole application.

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
