/* ===== VARIABLES ===== */
// We can create our CSS variables in this file
// then access them across all of our SCSS files
// by @import 'variables'

$black: #232323;
$white: #fafafa;
$white-fade: rgba(250, 250, 250, 0.3);

$pixel: 'Press Start 2P', 'Lucida Console', monospace;