// ===== FONTS ===== //

@font-face {
    font-family: 'aurebesh';
    src: font-url('../fonts/Aurebesh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$primary: 'Source Code Pro', monospace;
$secondary: 'Share Tech Mono', $primary;
$highlight: 'Major Mono Display', $secondary;
$pixel: 'Press Start 2P', $highlight;
$aurebesh: 'aurebesh', $primary;

// ===== COLORS ===== //

$black: #232323;
$trueBlack: #000;

$white: #fafafa;
$treuWhite: #fff;
$white-fade: rgba(250, 250, 250, 0.5);


$red: #d60000;
$orange: #FBDB61;
$teal: #61DBFB;
$tealDark: #31a8c8;
